*, *::before, *::after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    color: whitesmoke;
    font-family: Poppins, Arial;
}

body {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    background-color: var(--clr-primary-base-1);
    color: whitesmoke;


}

.meme-gallery-page, .meme-editor-page, .meme-saved-page{
    background-color: var(--clr-primary-base-4);
    width: 95%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-nav>ul>li, .keyword, .file-input, img.rounded-m, input{
    cursor:pointer;
}

.main-logo{
    height:5vh;
}

.colorPicker{
    background-color: transparent; 
    color:transparent;
    border: transparent;
}



