.btn {
    border-radius: 15px;
    font-size: 1.5rem;
    background-image: linear-gradient(-38deg, var(--clr-primary-base-6) 30%, #527279 100%);
    padding: .6rem;
    color: var(--clr-primary-base-5);
    margin-inline: .31em;
    cursor: pointer;
}

.remove {
    position: relative;
    left: 260px;
    bottom: -60px;
    z-index: 1;
}