/* list helpers */
.clean-li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* layout helpers */
.grid {
    display: grid;
}

.grid.column {
    grid-template-columns: 1fr 1fr;
    gap: 1em;

}

.center {
    justify-self: center;
}

.margin-top {
    margin-block-start: 2em;
    
}

.flex{
    display:flex;
    justify-content: space-between;
}

/* rounded helper */
.rounded {
    border-radius: 5em;
}

/* meme helper */
.rounded-m {
    border-radius: 20px;
}

.selected{
    border: 2px solid var(--clr-primary-base-6);
   
}


