.main-screen {
    background-color: rgba(0, 0, 0, 0.597);
    inset: 0;
    position: fixed;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    
    transition: opacity 600ms;
}

body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}