.search {
    position: relative;
}

.search-input {
    width: 90%;
    font-size: 2em;
    padding:.4em;

    background-color: var(--clr-primary-base-1);
    color: whitesmoke;
    border: none;
}

.search>i.fa-solid {
    color: var(--clr-primary-base-3);
    font-size: 1.8em;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translate(-50%, -50%)
}