.filter-search-container {
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
}

.search-input {
    width: 98%;
    height:8vh;

    font-size: 2em;
    padding: .4em;

    background-color: var(--clr-primary-base-2);
    color: whitesmoke;
    border: none;
}

.search-input:hover {
    color: var(--clr-primary-base-6);
    outline: 2px solid var(--clr-primary-base-6);
}

.fa-magnifying-glass {
    font-size: 1.8em;
    position: relative;
    right: -45%;
    top: -30%;
    transform: translate(-50%, -50%);
    color: var(--clr-primary-base-3);
    transition: opacity 2s .2s;
    opacity: 1;
}

body.menu-open .fa-magnifying-glass {
    transition: opacity .1s;
    opacity: 0;
}