/* mobile */
@media (max-width:900px) {
    .main-header {
        width: 100%;
        position: fixed;
        inset: 0 0 auto 0;
        margin-top: 0;
    }

    .main-nav {
        position: fixed;
        top: 85px;
        right: 10px;
        width: 103%;
        translate: 100%;
        transition: translate .7s;
    }

    body.menu-open .main-nav {
        translate: 0;
    }

    .main-nav>ul>li {
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 1.2em;
        width: 100%;
        border-radius: 1em;
    }

    .meme-gallery-page {
        width: 100%;
        margin-block-start: 15vh;
        background-color: var(--clr-primary-base-1);
    }

    .meme-editor-page {
        width: 100%;
    }

    .edit-wrapper {
        display: grid;
        gap: 20px;
        padding: 1em;
    }

    .tools-editor {
        grid-row: 2;
    }

    .share {
        opacity: 1;
    }

    .meme-saved-page {
        margin-block-start: 15vh;
        width: 100%;
        background-color: var(--clr-primary-base-1);
    }

    footer {
        padding-bottom: 5px;
    }
}

/* small */
@media (min-width:900px) {
    .btn {
        font-size: 2rem;
    }

    .main-header {
        margin-block-start: 2em;
        border-radius: 5em;
    }

    .main-logo {
        height: 3.5em;
        margin-inline-start: 1em;
    }

    .main-nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .meme-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .meme-container>label {
        font-size: 1.5em;
    }

    .meme-input-text {
        font-size: 2.5rem;
    }

    .btn-toggle-menu {
        display: none;
    }

    .meme-editor-page {
        margin-block-start: 15vh;
    }

    .meme-saved-page {
        grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
    }

    footer {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        width: 93%;
    }
}

/* medium */
@media (min-width:1100px) {
    .main-logo {
        height: 4rem;
    }

    .main-nav ul {
        gap: 3rem;
    }

    .main-nav>ul>li img {
        height: 2.7rem;
    }

    .meme-container {
        /* column-count: 4; */
        /* column-rule: 1px solid grey; */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .filter-search-container {
        grid-template-columns: 1fr 1fr;
    }

    .meme-editor-page {
        width: 95%;
    }

    .edit-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tools-editor {
        grid-column: 2;
    }
}

/* large */
@media (min-width:1400px) {
    .main-nav>ul>li img {
        height: 3rem;
    }

    /* .meme-container {
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr)minmax(250px, 1fr)minmax(250px, 1fr);
    } */

}