/* mobile */
@media (max-width:900px) {
    .main-header {
        width: 100%;
        position: fixed;
        inset: 0 0 auto 0;
        margin-top: 0;
    }

    .main-nav {
        position: fixed;
        top: 85px;
        right: 10px;
        width: 103%;
        translate: 100%;
        transition: translate .7s;
    }

    body.menu-open .main-nav {
        translate: 0;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    }

    .main-nav>ul>li {
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 1.2em;
        width: 100%;
        border-radius: 1em;
    }

    .meme-gallery-page {
        width: 100%;
        margin-block-start: 8.25rem;
    }

    .meme-editor-page {
        /* margin-block-start: 6.5rem; */
    }


    .edit-wrapper {
        display: grid;
        gap: 20px;
        padding: 1em;
        /* width: 100%; */
    }

    .tools-editor {
        grid-row: 2;
    }

    footer {
        padding-bottom: 5px;
    }
}

/* small */
@media (min-width:900px) {
    .btn {
        font-size: 2rem;
    }

    .main-header {
        margin-block-start: 2em;
        border-radius: 5em;
    }

    .main-nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }


    .meme-container {
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
    }

    .keyword {
        font-size: 1.5em;
    }

    .meme-container>label {
        font-size: 1.5em;
    }

    .btn-toggle-menu {
        display: none;
    }

}

/* medium */
@media (min-width:1100px) {
    .main-nav ul {
        gap: 3rem;
    }
    .main-nav>ul>li img {
        height: 3em;
    }

    .meme-container {
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr)minmax(250px, 1fr);
    }

    .filter-search-container {
        grid-template-columns: 1fr 1fr;
    }

    .keyword {
        font-size: 1.2em;
    }

    .meme-editor-page {
        width: 95%;
    }

    .edit-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tools-editor {
        grid-column: 2;
    }
}

/* large */
@media (min-width:1400px) {
    .meme-container {
        grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr)minmax(250px, 1fr)minmax(250px, 1fr);
    }

}